# Ignore outputs and local artifacts
outputs/
*.pkl
*.csv
*.json

# Ignore local test scripts
test_model.py
test_endpoint.py

# Ignore Python cache and temp files, env files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
venv/